.page-header {
  color: #F5002F;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.container {
  width:80%;
  padding:5px;
}
.table {
  color: #C2CCCC;
}
#heading {
  text-align: center;
  color: #C2CCCC;
  font-size: 150%;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.table {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
